<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-data" data-toc-modified-id="Load-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load data</a></span><ul class="toc-item"><li><span><a href="#Crimes" data-toc-modified-id="Crimes-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Crimes</a></span><ul class="toc-item"><li><span><a href="#Read" data-toc-modified-id="Read-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Read</a></span></li></ul></li><li><span><a href="#Hourly-and-yearly-counts" data-toc-modified-id="Hourly-and-yearly-counts-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Hourly and yearly counts</a></span><ul class="toc-item"><li><span><a href="#Block-information" data-toc-modified-id="Block-information-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Block information</a></span></li></ul></li><li><span><a href="#Routes" data-toc-modified-id="Routes-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Routes</a></span></li><li><span><a href="#Schools" data-toc-modified-id="Schools-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Schools</a></span></li><li><span><a href="#Blocks" data-toc-modified-id="Blocks-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Blocks</a></span></li></ul></li><li><span><a href="#Prepare-data" data-toc-modified-id="Prepare-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Prepare data</a></span><ul class="toc-item"><li><span><a href="#Crimes" data-toc-modified-id="Crimes-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Crimes</a></span><ul class="toc-item"><li><span><a href="#Drop-missings" data-toc-modified-id="Drop-missings-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Drop missings</a></span></li><li><span><a href="#Further-restrictions" data-toc-modified-id="Further-restrictions-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Further restrictions</a></span></li><li><span><a href="#Convert-to-geopandas-dataframe" data-toc-modified-id="Convert-to-geopandas-dataframe-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Convert to geopandas dataframe</a></span></li></ul></li></ul></li><li><span><a href="#Create-FOIA-treatment-status" data-toc-modified-id="Create-FOIA-treatment-status-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create FOIA treatment status</a></span><ul class="toc-item"><li><span><a href="#Merge-additional-information-about-routes" data-toc-modified-id="Merge-additional-information-about-routes-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Merge additional information about routes</a></span></li><li><span><a href="#Add-FOIA-treatment-status" data-toc-modified-id="Add-FOIA-treatment-status-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Add FOIA treatment status</a></span></li><li><span><a href="#Fill-missings-with-0" data-toc-modified-id="Fill-missings-with-0-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Fill missings with 0</a></span></li></ul></li><li><span><a href="#Add-dummies-to-blocks-for-analysis" data-toc-modified-id="Add-dummies-to-blocks-for-analysis-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Add dummies to blocks for analysis</a></span><ul class="toc-item"><li><span><a href="#Save" data-toc-modified-id="Save-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Save</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Load</a></span></li></ul></li><li><span><a href="#Aggregate-on-block-month-level" data-toc-modified-id="Aggregate-on-block-month-level-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Aggregate on block-month level</a></span><ul class="toc-item"><li><span><a href="#Calculate-crime-counts-on-block-month-level" data-toc-modified-id="Calculate-crime-counts-on-block-month-level-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Calculate crime counts on block-month level</a></span></li><li><span><a href="#Merge-the-two-counts-together" data-toc-modified-id="Merge-the-two-counts-together-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Merge the two counts together</a></span></li><li><span><a href="#Add-block-information" data-toc-modified-id="Add-block-information-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Add block information</a></span></li><li><span><a href="#Fill-dates-to-get-an-observation-per-block-and-month" data-toc-modified-id="Fill-dates-to-get-an-observation-per-block-and-month-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Fill dates to get an observation per block and month</a></span></li><li><span><a href="#Fix-block-information" data-toc-modified-id="Fix-block-information-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Fix block information</a></span></li></ul></li><li><span><a href="#Save-monthly-crime-rates" data-toc-modified-id="Save-monthly-crime-rates-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Save monthly crime rates</a></span><ul class="toc-item"><li><span><a href="#All-census-blocks" data-toc-modified-id="All-census-blocks-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>All census blocks</a></span></li><li><span><a href="#Only-blocks-which-are-in-at-least-one-year-treated-or-one,-two,-or-three-cells-over" data-toc-modified-id="Only-blocks-which-are-in-at-least-one-year-treated-or-one,-two,-or-three-cells-over-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Only blocks which are in at least one year treated or one, two, or three cells over</a></span></li></ul></li><li><span><a href="#Create-data-for-figure-3" data-toc-modified-id="Create-data-for-figure-3-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Create data for figure 3</a></span><ul class="toc-item"><li><span><a href="#Save" data-toc-modified-id="Save-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Save</a></span></li></ul></li><li><span><a href="#Prepare-shorter-estimation-dataset" data-toc-modified-id="Prepare-shorter-estimation-dataset-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Prepare shorter estimation dataset</a></span><ul class="toc-item"><li><span><a href="#Save" data-toc-modified-id="Save-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Save</a></span></li></ul></li><li><span><a href="#Save-estimation-data-sets-for-use-in-R" data-toc-modified-id="Save-estimation-data-sets-for-use-in-R-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Save estimation data sets for use in R</a></span></li></ul></div>

**Description**: This notebook prepares the data for the replication of the census block results (crime) for Mc Millen et al. (2017). It combines the prepared crime, routes, schools, and blocks data sets. Furthermore it creates various data sets for the figures in the analysis notebooks.

In [2]:
import pickle
import sys
from pathlib import Path

import geopandas as gpd
import pandas as pd
import numpy as np
from shapely.geometry import Point
from tqdm import tqdm, tqdm_notebook

sys.path.append('../..')
from src.prepare_data.crime_database import load_crimes, load_relevant_crimes

# Register tqdm with pandas
tqdm.pandas(tqdm_notebook)

Specify path to data folder

In [3]:
data_path = Path('../../data')

# Load data
## Crimes
### Read

Load crimes from relevant time frame and categories (violent as well as property)

In [4]:
crimes = load_relevant_crimes('2006-01-01', '2017-12-31', sqldb_path=str(data_path / 'processed/crimes.db'))
crimes.head()

,ID,Date,Longitude,Latitude,Primary Type,FBI Code,violent
0,4647373,2006-03-21 16:45:00,-87.709415,41.901774,THEFT,06,0
1,4647374,2006-03-21 22:00:00,-87.599049,41.748675,THEFT,06,0
2,4647375,2006-03-20 23:00:00,-87.671429,41.776711,MOTOR VEHICLE THEFT,07,0
3,4647385,2006-03-15 15:00:00,-87.607000,41.726326,MOTOR VEHICLE THEFT,07,0
4,4647388,2006-03-11 02:00:00,-87.707392,41.917397,ASSAULT,04A,1

## Hourly and yearly counts

In [6]:
hourly_counts = crimes.set_index('Date').groupby('violent').resample('1H')[
    'ID'].count().rename('count').reset_index()

Save yearly counts already calculated in order to avoid longer computation when making figures later on.

In [7]:
yearly_counts = crimes.groupby(['violent', crimes['Date'].dt.year])['ID'].count().rename('count').reset_index()

Directly save for later us

In [8]:
with (data_path / 'processed/violent_hourly_counts.pkl').open('wb') as f:
    pickle.dump(hourly_counts, f)

In [10]:
with (data_path / 'processed/violent_yearly_counts.pkl').open('wb') as f:
    pickle.dump(yearly_counts, f)

### Block information
Add precalculated information about blocks

In [6]:
crimes_block = load_crimes(
    'SELECT ID, tract_bloc, school_year FROM crimes_blocks',
    sqldb_path=str(data_path / 'processed/crimes.db'))
crimes_block.head()

        ID    tract_bloc school_year
0  4647373  8.366002e+09      SY0506
1  4647374  4.401011e+09      SY0506
2  4647375  6.713001e+09      SY0506
3  4647385  4.409002e+09      SY0506
4  4647388  2.211002e+09      SY0506

In [7]:
crimes = pd.merge(crimes, crimes_block, how='left', on='ID', validate='1:1')
crimes.head()

,ID,Date,Longitude,Latitude,Primary Type,FBI Code,violent,tract_bloc,school_year
0,4647373,2006-03-21 16:45:00,-87.709415,41.901774,THEFT,06,0,8.366002e+09,SY0506
1,4647374,2006-03-21 22:00:00,-87.599049,41.748675,THEFT,06,0,4.401011e+09,SY0506
2,4647375,2006-03-20 23:00:00,-87.671429,41.776711,MOTOR VEHICLE THEFT,07,0,6.713001e+09,SY0506
3,4647385,2006-03-15 15:00:00,-87.607000,41.726326,MOTOR VEHICLE THEFT,07,0,4.409002e+09,SY0506
4,4647388,2006-03-11 02:00:00,-87.707392,41.917397,ASSAULT,04A,1,2.211002e+09,SY0506

In [8]:
crimes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682644 entries, 0 to 1682643
Data columns (total 9 columns):
ID              1682644 non-null int64
Date            1682644 non-null datetime64[ns]
Longitude       1658381 non-null float64
Latitude        1658381 non-null float64
Primary Type    1682644 non-null object
FBI Code        1682644 non-null object
violent         1682644 non-null int64
tract_bloc      1483275 non-null float64
school_year     1203156 non-null object
dtypes: datetime64[ns](1), float64(3), int64(2), object(3)
memory usage: 128.4+ MB

In [9]:
crimes.isnull().sum()

ID                   0
Date                 0
Longitude        24263
Latitude         24263
Primary Type         0
FBI Code             0
violent              0
tract_bloc      199369
school_year     479488
dtype: int64

In [10]:
sorted(x for x in crimes['school_year'].unique() if isinstance(x, str))

['SY0506',
 'SY0607',
 'SY0708',
 'SY0809',
 'SY0910',
 'SY1011',
 'SY1112',
 'SY1213',
 'SY1314',
 'SY1415',
 'SY1516']

## Routes

In [14]:
with (data_path / 'processed/routes.pkl').open('rb') as f:
    routes = pickle.load(f)
routes.head()

,school_name,school_id,school_year,route_number,geometry
0,Bass,609791,SY1516,26,(LINESTRING (-87.65435458421847 41.77415375372...
1,Haley,609808,SY1516,21,(LINESTRING (-87.63829660445114 41.67785424533...
2,Wentworth,610223,SY1516,22,(LINESTRING (-87.66139078533355 41.76494287260...
3,Mays,610290,SY1516,23,(LINESTRING (-87.64702376241898 41.77243973026...
4,Nicholson Tech Acad,609793,SY1516,24,(LINESTRING (-87.65473745700072 41.78870650844...

In [15]:
sorted(routes['school_year'].unique())

['SY1314', 'SY1415', 'SY1516']

## Schools

In [18]:
with (data_path / 'processed/schools_blocks.pkl').open('rb') as f:
    schools = pickle.load(f)
schools.head()

,ALD_15,COMMAREA,GeoNetwork,Governance,Grade_Cat,Grades,Network,Phone,WARD_15,Zip,address,lat,lon,school_id,school_year,school_name,geometry,treated_foia,tract_bloc,treated
160,NaN,NaN,NaN,Charter,HS,"9, 10, 11, 12",NaN,NaN,NaN,NaN,5410 S State St,41.796122,-87.625849,400010,SY1314,Ace Tech HS,POINT (-87.625849 41.796122),0.0,8361002000,0
832,NaN,NaN,NaN,Charter,HS,"9, 10, 11, 12",NaN,NaN,NaN,NaN,5410 S State St,41.796122,-87.625849,400010,SY1415,Ace Tech HS,POINT (-87.625849 41.796122),0.0,8361002000,0
1512,Patricia R. Dowell,WASHINGTON PARK,9.0,Charter,HS,"9, 10, 11, 12",Charter,1(773)548-8705,3.0,60609,5410 S State St,41.796122,-87.625849,400010,SY1516,Ace Tech HS,POINT (-87.625849 41.796122),0.0,8361002000,0
161,NaN,NaN,NaN,"District, non-alternative",ES,"PE, PK, K, 1, 2, 3, 4, 5, 6, 7, 8",NaN,NaN,NaN,NaN,10810 S Avenue H,41.698739,-87.532976,609772,SY1314,Addams,POINT (-87.53297600000001 41.698739),0.0,5205001002,0
833,NaN,NaN,NaN,District,ES,"PK, K, 1, 2, 3, 4, 5, 6, 7, 8",NaN,NaN,NaN,NaN,10810 S Avenue H,41.698739,-87.532976,609772,SY1415,Addams,POINT (-87.53297600000001 41.698739),0.0,5205001002,0

In [19]:
schools.groupby('school_year')['treated_foia'].sum()

school_year
SY0910     35.0
SY1011     35.0
SY1112     35.0
SY1213     39.0
SY1314     92.0
SY1415    133.0
SY1516    136.0
Name: treated_foia, dtype: float64

## Blocks

In [20]:
with (data_path / 'processed/blocks.pkl').open('rb') as f:
    blocks = pickle.load(f)
blocks.head()

,tract_bloc,school_year,statefp10,countyfp10,tractce10,geoid10,blockce10,name10,r_numbers,treated,geometry
0,101001000,SY0506,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...
1,101001000,SY0607,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...
2,101001000,SY0708,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...
3,101001000,SY0809,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...
4,101001000,SY0910,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...

In [21]:
format(blocks.shape[0], ',')

'509,421'

In [22]:
blocks['school_year'].unique()

array(['SY0506', 'SY0607', 'SY0708', 'SY0809', 'SY0910', 'SY1011',
       'SY1112', 'SY1213', 'SY1314', 'SY1415', 'SY1516'], dtype=object)

In [23]:
blocks.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 509421 entries, 0 to 509420
Data columns (total 11 columns):
tract_bloc     509421 non-null int64
school_year    509421 non-null object
statefp10      509421 non-null int64
countyfp10     509421 non-null int64
tractce10      509421 non-null int64
geoid10        509421 non-null int64
blockce10      509421 non-null int64
name10         509421 non-null object
r_numbers      27450 non-null object
treated        509421 non-null int64
geometry       509421 non-null object
dtypes: int64(7), object(4)
memory usage: 42.8+ MB

In [24]:
blocks.isnull().sum()

tract_bloc          0
school_year         0
statefp10           0
countyfp10          0
tractce10           0
geoid10             0
blockce10           0
name10              0
r_numbers      481971
treated             0
geometry            0
dtype: int64

Missing `r_numbers` entries mean that no route was merged for this observation to a block, which is a desired behaviour.

# Prepare data
## Crimes
### Drop missings
Drop with missing tract_bloc

In [25]:
crimes = crimes.dropna(subset=['tract_bloc'])
print(format(crimes.shape[0], ','))
crimes.isnull().sum()

1,483,275

ID                   0
Date                 0
Longitude            0
Latitude             0
Primary Type         0
FBI Code             0
violent              0
tract_bloc           0
school_year     280119
dtype: int64

Drop with missing school year. Missing school years mean that the crime happened outside of a school year I am looking at in this analysis.

In [26]:
crimes = crimes.dropna(subset=['school_year'])
print(format(crimes.shape[0], ','))
crimes.isnull().sum()

1,203,156

ID              0
Date            0
Longitude       0
Latitude        0
Primary Type    0
FBI Code        0
violent         0
tract_bloc      0
school_year     0
dtype: int64

### Further restrictions
Identify crimes that take place "during the day when Safe Passage guards are present from evening hours (5:30 pm to 6:30 am) when they are not present."

In [27]:
crimes = crimes.set_index('Date').between_time('06:30:00','17:30:00')
print(format(crimes.shape[0], ','))

635,055

"Distinguish between school and non-school days (i.e. weekends and summer months, July and August)."

This is already done when dropping observations with missing school years.

Drop weekends

In [28]:
crimes = crimes[crimes.index.dayofweek <= 4]
print(format(crimes.shape[0], ','))

485,363

In [29]:
sorted(crimes['school_year'].unique())

['SY0506',
 'SY0607',
 'SY0708',
 'SY0809',
 'SY0910',
 'SY1011',
 'SY1112',
 'SY1213',
 'SY1314',
 'SY1415',
 'SY1516']

### Convert to geopandas dataframe

In [30]:
locations = [Point(lon, lat) for lon, lat in zip(crimes['Longitude'], crimes['Latitude'])]
crimes = gpd.GeoDataFrame(data=crimes, geometry=locations, crs=blocks.crs).reset_index()

In [31]:
crimes.head()

,Date,ID,Longitude,Latitude,Primary Type,FBI Code,violent,tract_bloc,school_year,geometry
0,2006-03-21 16:45:00,4647373,-87.709415,41.901774,THEFT,06,0,8.366002e+09,SY0506,POINT (-87.70941457399999 41.901774026)
1,2006-03-15 15:00:00,4647385,-87.607000,41.726326,MOTOR VEHICLE THEFT,07,0,4.409002e+09,SY0506,POINT (-87.60699981100001 41.72632605)
2,2006-03-21 14:48:52,4647390,-87.653672,41.748056,BATTERY,04B,1,7.107002e+09,SY0506,POINT (-87.653672181 41.748055645)
3,2006-02-03 11:00:00,4647416,-87.654773,41.964235,THEFT,06,0,3.150220e+08,SY0506,POINT (-87.654773202 41.964235418)
4,2006-03-21 16:44:22,4647417,-87.616373,41.744876,THEFT,06,0,4.403002e+09,SY0506,POINT (-87.61637309999999 41.74487608)

# Create FOIA treatment status

Count numbers of routes per block.

In [32]:
blocks['r_numbers'].apply(lambda x: np.nan if not isinstance(x, list) else len(x)).value_counts()

1.0    26027
2.0     1360
3.0       57
4.0        6
Name: r_numbers, dtype: int64

Let's take the first route for each block. This might introduce a slight unsharpness.

In [33]:
blocks['route_number'] = blocks['r_numbers'].apply(lambda x: x[0] if isinstance(x, list) else np.nan)
blocks['route_number'].dtype

dtype('float64')

## Merge additional information about routes
Hereby especially the corresponding school name to a route is important to later on merge the FOIA treatment status.

In [34]:
# Make backup of original school year column 
# (this column also contains the early school years which where added before)
blocks['school_year_original'] = blocks['school_year']

# Replace the early school years prior to SY1314 with SY1314 for matching with route information
blocks['school_year'] = blocks['school_year'].apply(
    lambda x: 'SY1314' if int(x[2:4]) < 13 else x)

# Merge corresponding school name to the Safe Passage routes
blocks = pd.merge(
    blocks,
    routes[['school_name', 'school_year', 'route_number']],
    how='left',
    on=['route_number', 'school_year'],
    validate='m:1')

# Make sure that each block which has a Safe Passage route
# now also has the name of the corresponding school merged to it
assert blocks.loc[blocks['route_number'].notnull(),
                       'school_name'].notnull().all()

# Restore original school year column (which includes the early school years before SY1314)
blocks['school_year'] = blocks['school_year_original']
blocks = blocks.drop('school_year_original', axis='columns')
blocks.head()

,tract_bloc,school_year,statefp10,countyfp10,tractce10,geoid10,blockce10,name10,r_numbers,treated,geometry,route_number,school_name
0,101001000,SY0506,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN
1,101001000,SY0607,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN
2,101001000,SY0708,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN
3,101001000,SY0809,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN
4,101001000,SY0910,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN

In [35]:
blocks['school_year'].unique()

array(['SY0506', 'SY0607', 'SY0708', 'SY0809', 'SY0910', 'SY1011',
       'SY1112', 'SY1213', 'SY1314', 'SY1415', 'SY1516'], dtype=object)

In [36]:
blocks.groupby('school_year')['school_name'].nunique()

school_year
SY0506     86
SY0607     86
SY0708     86
SY0809     86
SY0910     86
SY1011     86
SY1112     86
SY1213     86
SY1314     86
SY1415    120
SY1516    125
Name: school_name, dtype: int64

Prior to SY0910 everything will be set to 0 anyway as no Safe Passage routes existed. Furthermore prior to SY1314 route merges are based on year SY1314. If these routes were active will be determined in next step when adding FOIA treatment status. That is why the number of schools for the first few years is the same.

## Add FOIA treatment status

In [37]:
blocks = pd.merge(
    blocks,
    schools[['school_name', 'school_year', 'treated_foia']],
    on=['school_name', 'school_year'],
    how='left',
    validate='m:1')
blocks.head()

,tract_bloc,school_year,statefp10,countyfp10,tractce10,geoid10,blockce10,name10,r_numbers,treated,geometry,route_number,school_name,treated_foia
0,101001000,SY0506,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,NaN
1,101001000,SY0607,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,NaN
2,101001000,SY0708,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,NaN
3,101001000,SY0809,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,NaN
4,101001000,SY0910,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,NaN

## Fill missings with 0

In [38]:
blocks['treated_foia'] = blocks['treated_foia'].fillna(0)

In [39]:
blocks.groupby('school_year')['treated_foia'].value_counts()

school_year  treated_foia
SY0506       0.0             46311
SY0607       0.0             46311
SY0708       0.0             46311
SY0809       0.0             46311
SY0910       0.0             45376
             1.0               935
SY1011       0.0             45376
             1.0               935
SY1112       0.0             45376
             1.0               935
SY1213       0.0             45274
             1.0              1037
SY1314       0.0             43917
             1.0              2394
SY1415       0.0             43394
             1.0              2917
SY1516       0.0             43339
             1.0              2972
Name: treated_foia, dtype: int64

Rename FOIA treatment status to normal one and create backup of other. Note that original treatment status is not usable in current condition.

In [40]:
blocks = blocks.rename(columns={'treated': 'treated_backup'}).rename(columns={'treated_foia': 'treated'})

# Add dummies to blocks for analysis

Create "cell over" dummies" for each school year separately and later merge them all together again:

In [41]:
def find_contiguous_blocks(all_blocks, core_blocks):
    """Finds conitiguous blocks to given core blocks
    
    Arguments
    ---------
    all_blocks:  all blocks without core blocks (!)
    core_blocks: core blocks around which contiguous blocks
                 should be found
                 
    Return
    ------
    Returns geopandas dataframe with all contiguous blocks
    (contains no core blocks -> this is checked)
    """
    # Make copy of both dataframes to prevent editing originally
    # passed in dataframes
    core_blocks = core_blocks.copy()[['tract_bloc', 'geometry']].rename(
        {
            'tract_bloc': 'tract_bloc_core'
        }, axis='columns')
    all_blocks = all_blocks.copy()
    
    # Spatial join
    adj_blocks = gpd.sjoin(
        all_blocks, core_blocks, how='left',
        op='intersects').reset_index(drop=True).drop(
            'index_right', axis='columns')
    
    # Only keep intersected blocks
    adj_blocks = adj_blocks[~adj_blocks['tract_bloc_core'].isnull()]
    
    # Make sure that no core block is in there
    assert not any(adj_blocks['tract_bloc'] == adj_blocks['tract_bloc_core'])
    assert isinstance(adj_blocks, gpd.GeoDataFrame)
    return adj_blocks


def mark_x_over(block_df, adj_block_df, col_name):
    """Creates dummy columns for x cells over
    
    Arguments
    ---------
    block_df:     dataframe containing all blocks
    adj_block_df: dataframe with all contiguous blocks
                  which should be marked in block_df
    col_name:     name of dummy column to add to block_df
    
    Return
    ------
    block_df with added dummy column (col_name)
    """
    # Make copy to prevent editing passed in dataframe
    block_df = block_df.copy()
    # 1 if block in adj_block_df else 0
    block_df[col_name] = block_df['tract_bloc'].isin(adj_block_df['tract_bloc']) * 1
    return block_df


def fix_over(df,
             treated_col='treated',
             one_over_col='one_over',
             two_over_col='two_over',
             three_over_col='three_over'):
    """Fix x over columns, i.e. impose treated over one_over over two_over etc.
    
    Arguments
    ---------
    df: dataframe containing all blocks
    treated_col: (optional) name of treated column
    one_over_col: (optional) name of one_over column
    two_over_col: (optional) name of two_over column
    three_over_col: (optional) name of three_over column
    
    Return
    ------
    pandas dataframe with fixed columns    
    """
    assert not df['tract_bloc'].duplicated().any()
    assert not df[[treated_col, one_over_col, two_over_col, three_over_col]].isnull().any().any()
    
    # Make copy to prevent editing passed in dataframe
    df = df.copy()
    
    # Fix columns
    df[one_over_col] = df[one_over_col].where(df[treated_col] == 0, 0)
    df[two_over_col] = df[two_over_col].where(
        (df[treated_col] == 0) & (df[one_over_col] == 0), 0)
    df[three_over_col] = df[three_over_col].where(
        (df[treated_col] == 0) & (df[one_over_col] == 0) &
        (df[two_over_col] == 0), 0)
    assert all(df[[treated_col, one_over_col, two_over_col, three_over_col]]
               .sum(axis='columns') <= 1)
    
    # Make one column containing all information for plotting
    df['info'] = np.argmax(
        df[[one_over_col, two_over_col, three_over_col]].values, axis=1) + 1
    df['info'] = df['info'].where(
        df[[one_over_col, two_over_col,
            three_over_col]].sum(axis='columns') == 1, 0)
    # Add '4' for treated cells
    df['info'] = df['info'].where(df[treated_col] == 0, 4)
    # Map to strings
    idx_to_str = {
        0: '-',
        1: 'one over',
        2: 'two over',
        3: 'three over',
        4: 'treated'
    }
    df['info'] = df['info'].map(idx_to_str)
    return df

In [42]:
blocks_container = []
for sy in blocks['school_year'].unique():
    print('----')
    print(sy)
    blocks_temp = blocks[blocks['school_year'] == sy].copy()
    assert blocks_temp.shape[0] * blocks['school_year'].nunique() == blocks.shape[0]
    
    # Only need to find dummies for school years SY0910 onwards
    # For prior school years the dummies are all zero as no treatment
    # took place
    if int(sy[2:4]) < 9:
        # Create columns with dummies and info column for plotting
        blocks_temp['one_over'] = 0
        blocks_temp['two_over'] = 0
        blocks_temp['three_over'] = 0
        blocks_temp['info'] = '-'
    else:
        # Find contiguous blocks
        print('One over')
        one_over = find_contiguous_blocks(blocks_temp[blocks_temp['treated'] == 0], 
                                          blocks_temp[blocks_temp['treated'] == 1])
        print('Two over')
        two_over = find_contiguous_blocks(blocks_temp[(blocks_temp['treated'] == 0) &
                                                     (~blocks_temp['tract_bloc'].isin(one_over['tract_bloc']))], 
                                          one_over)
        print('Three over')
        three_over = find_contiguous_blocks(blocks_temp[(blocks_temp['treated'] == 0) &
                                                     (~blocks_temp['tract_bloc'].isin(one_over['tract_bloc'])) &
                                                     (~blocks_temp['tract_bloc'].isin(two_over['tract_bloc']))], 
                                            two_over)

        # Create columns whith dummies
        blocks_temp = mark_x_over(blocks_temp, one_over, 'one_over')
        blocks_temp = mark_x_over(blocks_temp, two_over, 'two_over')
        blocks_temp = mark_x_over(blocks_temp, three_over, 'three_over')

        # Fix columns such that treated is dominant to one cell over etc.
        blocks_temp = fix_over(blocks_temp)
    blocks_container.append(blocks_temp)

----
SY0506
----
SY0607
----
SY0708
----
SY0809
----
SY0910
One over
Two over
Three over
----
SY1011
One over
Two over
Three over
----
SY1112
One over
Two over
Three over
----
SY1213
One over
Two over
Three over
----
SY1314
One over
Two over
Three over
----
SY1415
One over
Two over
Three over
----
SY1516
One over
Two over
Three over

In [43]:
n_blocks_original = blocks.shape[0]
blocks = pd.concat(blocks_container, ignore_index=True)
assert blocks.shape[0] == n_blocks_original
blocks['school_year'].unique()

array(['SY0506', 'SY0607', 'SY0708', 'SY0809', 'SY0910', 'SY1011',
       'SY1112', 'SY1213', 'SY1314', 'SY1415', 'SY1516'], dtype=object)

In [44]:
blocks.head()

,tract_bloc,school_year,statefp10,countyfp10,tractce10,geoid10,blockce10,name10,r_numbers,treated_backup,geometry,route_number,school_name,treated,one_over,two_over,three_over,info
0,101001000,SY0506,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,0.0,0,0,0,-
1,101001001,SY0506,17,31,10100,170310101001001,1001,Block 1001,NaN,0,POLYGON ((-87.66753999955125 42.02223700032794...,NaN,NaN,0.0,0,0,0,-
2,101001002,SY0506,17,31,10100,170310101001002,1002,Block 1002,NaN,0,POLYGON ((-87.67008600039445 42.02226200030603...,NaN,NaN,0.0,0,0,0,-
3,101001003,SY0506,17,31,10100,170310101001003,1003,Block 1003,NaN,0,"POLYGON ((-87.67009499920478 42.0211490002601,...",NaN,NaN,0.0,0,0,0,-
4,101002000,SY0506,17,31,10100,170310101002000,2000,Block 2000,NaN,0,POLYGON ((-87.67188399967968 42.02298600014132...,NaN,NaN,0.0,0,0,0,-

In [45]:
assert not blocks[['treated', 'one_over', 'two_over', 'three_over']].isnull().any().any()

In [46]:
del blocks_container

In [47]:
assert not blocks.duplicated(['tract_bloc', 'school_year']).any()
assert blocks['tract_bloc'].nunique() * blocks['school_year'].nunique() == blocks.shape[0]

In [48]:
blocks['tract_bloc'].nunique()

46311

## Save

In [49]:
# with (data_path / 'processed/blocks_with_dummies.pkl').open('wb') as f:
#     pickle.dump(blocks, f)

## Load

In [50]:
# with (data_path / 'processed/blocks_with_dummies.pkl').open('rb') as f:
#     blocks = pickle.load(f)
# blocks.head()

# Aggregate on block-month level
## Calculate crime counts on block-month level
From McMillen et al. (2017): "Aggregate number of incidents to months to avoid excess of zero counts."

In [51]:
blocks_crimes_m_violent = crimes.query('violent == 1').set_index('Date').groupby([
    'tract_bloc', 'school_year'
]).resample('M')['ID'].count().rename('violent_count').to_frame().reset_index(
    level=[0, 1])

In [52]:
blocks_crimes_m_violent.head()

             tract_bloc school_year  violent_count
Date
2008-06-30  101001000.0      SY0708              1
2008-11-30  101001001.0      SY0809              1
2013-10-31  101001002.0      SY1314              1
2006-05-31  101001003.0      SY0506              1
2010-04-30  101001003.0      SY0910              1

In [53]:
blocks_crimes_m_property = crimes.query('violent == 0').set_index('Date').groupby([
    'tract_bloc', 'school_year'
]).resample('M')['ID'].count().rename('property_count').to_frame().reset_index(
    level=[0, 1])

In [54]:
blocks_crimes_m_property.head()

             tract_bloc school_year  property_count
Date
2006-05-31  101001000.0      SY0506               1
2007-11-30  101001000.0      SY0708               1
2011-05-31  101001000.0      SY1011               1
2007-02-28  101001001.0      SY0607               1
2007-03-31  101001001.0      SY0607               1

## Merge the two counts together

In [55]:
blocks_crimes_m = pd.merge(
    blocks_crimes_m_violent.reset_index(),
    blocks_crimes_m_property.reset_index(),
    how='outer',
    on=['tract_bloc', 'Date'])

In [56]:
blocks_crimes_m.head()

,Date,tract_bloc,school_year_x,violent_count,school_year_y,property_count
0,2008-06-30,101001000.0,SY0708,1.0,NaN,NaN
1,2008-11-30,101001001.0,SY0809,1.0,SY0809,1.0
2,2013-10-31,101001002.0,SY1314,1.0,NaN,NaN
3,2006-05-31,101001003.0,SY0506,1.0,NaN,NaN
4,2010-04-30,101001003.0,SY0910,1.0,SY0910,0.0

Fix school year column.

In [57]:
blocks_crimes_m['school_year'] = blocks_crimes_m['school_year_x'].where(
    blocks_crimes_m['school_year_x'].notnull(),
    blocks_crimes_m['school_year_y'])
assert not blocks_crimes_m['school_year'].isnull().any()
blocks_crimes_m = blocks_crimes_m.drop(['school_year_x', 'school_year_y'], axis='columns')
blocks_crimes_m.head()

        Date   tract_bloc  violent_count  property_count school_year
0 2008-06-30  101001000.0            1.0             NaN      SY0708
1 2008-11-30  101001001.0            1.0             1.0      SY0809
2 2013-10-31  101001002.0            1.0             NaN      SY1314
3 2006-05-31  101001003.0            1.0             NaN      SY0506
4 2010-04-30  101001003.0            1.0             0.0      SY0910

Fill missing crime counts with zero.

In [58]:
blocks_crimes_m['violent_count'] = blocks_crimes_m['violent_count'].fillna(0)
blocks_crimes_m['property_count'] = blocks_crimes_m['property_count'].fillna(0)

In [59]:
print((blocks_crimes_m['violent_count'] == 0).sum())
print((blocks_crimes_m['property_count'] == 0).sum())

538439
280042

In [60]:
blocks_crimes_m['violent_count'].value_counts(bins=5)

(-0.007, 1.2]    606722
(1.2, 2.4]         2968
(2.4, 3.6]          221
(3.6, 4.8]           36
(4.8, 6.0]           10
Name: violent_count, dtype: int64

In [61]:
blocks_crimes_m['property_count'].value_counts(bins=5)

(-0.042, 8.2]    609169
(8.2, 16.4]         581
(16.4, 24.6]        162
(24.6, 32.8]         38
(32.8, 41.0]          7
Name: property_count, dtype: int64

In [62]:
sorted(blocks_crimes_m['school_year'].unique())

['SY0506',
 'SY0607',
 'SY0708',
 'SY0809',
 'SY0910',
 'SY1011',
 'SY1112',
 'SY1213',
 'SY1314',
 'SY1415',
 'SY1516']

## Add block information
And therefore also get at least one entry per school year per block even if there were no crimes.

In [63]:
blocks_crimes_m = pd.merge(blocks, blocks_crimes_m.reset_index(), how='left', on=['tract_bloc', 'school_year'], validate='1:m')
blocks_crimes_m.head()

,tract_bloc,school_year,statefp10,countyfp10,tractce10,geoid10,blockce10,name10,r_numbers,treated_backup,...,school_name,treated,one_over,two_over,three_over,info,index,Date,violent_count,property_count
0,101001000,SY0506,17,31,10100,170310101001000,1000,Block 1000,NaN,0,...,NaN,0.0,0,0,0,-,102711.0,2006-05-31,0.0,1.0
1,101001001,SY0506,17,31,10100,170310101001001,1001,Block 1001,NaN,0,...,NaN,0.0,0,0,0,-,NaN,NaT,NaN,NaN
2,101001002,SY0506,17,31,10100,170310101001002,1002,Block 1002,NaN,0,...,NaN,0.0,0,0,0,-,NaN,NaT,NaN,NaN
3,101001003,SY0506,17,31,10100,170310101001003,1003,Block 1003,NaN,0,...,NaN,0.0,0,0,0,-,3.0,2006-05-31,1.0,0.0
4,101001003,SY0506,17,31,10100,170310101001003,1003,Block 1003,NaN,0,...,NaN,0.0,0,0,0,-,102727.0,2006-06-30,0.0,1.0

In [64]:
def get_date(x):
    year = x['school_year'][2:4]
    x['Date'] = pd.to_datetime(f'20{year}-09-01')
    return x
                               

blocks_crimes_m.loc[blocks_crimes_m['Date'].isnull(),
                    'Date'] = blocks_crimes_m.loc[blocks_crimes_m['Date']
                                                  .isnull()].apply(get_date, axis='columns')

In [65]:
blocks_crimes_m.head()

,tract_bloc,school_year,statefp10,countyfp10,tractce10,geoid10,blockce10,name10,r_numbers,treated_backup,...,school_name,treated,one_over,two_over,three_over,info,index,Date,violent_count,property_count
0,101001000,SY0506,17,31,10100,170310101001000,1000,Block 1000,NaN,0,...,NaN,0.0,0,0,0,-,102711.0,2006-05-31,0.0,1.0
1,101001001,SY0506,17,31,10100,170310101001001,1001,Block 1001,NaN,0,...,NaN,0.0,0,0,0,-,NaN,2005-09-01,NaN,NaN
2,101001002,SY0506,17,31,10100,170310101001002,1002,Block 1002,NaN,0,...,NaN,0.0,0,0,0,-,NaN,2005-09-01,NaN,NaN
3,101001003,SY0506,17,31,10100,170310101001003,1003,Block 1003,NaN,0,...,NaN,0.0,0,0,0,-,3.0,2006-05-31,1.0,0.0
4,101001003,SY0506,17,31,10100,170310101001003,1003,Block 1003,NaN,0,...,NaN,0.0,0,0,0,-,102727.0,2006-06-30,0.0,1.0

In [66]:
assert not blocks_crimes_m['Date'].isnull().any()

## Fill dates to get an observation per block and month
i.e. introduces 0 crime counts for missing month block combinations

In [67]:
# Start and end month of each school year
sy_range = {
    sy: (f'20{sy[2:4]}-09-01', f'20{sy[4:]}-06-30')
    for sy in [
        'SY0607', 'SY0708', 'SY0809', 'SY0910', 'SY1011', 'SY1112',
        'SY1213', 'SY1314', 'SY1415', 'SY1516'
    ]
}
# Add SY0506 separate, as we only use data starting from January 2001
sy_range['SY0506'] = ('2006-01-01', '2006-06-30')
sy_range

{'SY0607': ('2006-09-01', '2007-06-30'),
 'SY0708': ('2007-09-01', '2008-06-30'),
 'SY0809': ('2008-09-01', '2009-06-30'),
 'SY0910': ('2009-09-01', '2010-06-30'),
 'SY1011': ('2010-09-01', '2011-06-30'),
 'SY1112': ('2011-09-01', '2012-06-30'),
 'SY1213': ('2012-09-01', '2013-06-30'),
 'SY1314': ('2013-09-01', '2014-06-30'),
 'SY1415': ('2014-09-01', '2015-06-30'),
 'SY1516': ('2015-09-01', '2016-06-30'),
 'SY0506': ('2006-01-01', '2006-06-30')}

In [68]:
def fill_dates(group):
    # Extract value for school_year and tract_bloc
    g_sy = group['school_year'].values[0]
    g_tc = group['tract_bloc'].values[0]
    # Fill missing months per school year with zero counts
    group = group.reindex(pd.date_range(*sy_range[g_sy], freq='M')).fillna({
        'tract_bloc':
        g_tc,
        'school_year':
        g_sy,
        'violent_count':
        0,
        'property_count':
        0
    })
    return group


blocks_crimes_m = blocks_crimes_m.set_index('Date').groupby(['tract_bloc', 'school_year']).progress_apply(fill_dates)

100%|██████████| 509421/509421 [39:34<00:00, 214.56it/s]

In [69]:
backup = blocks_crimes_m.copy()

In [70]:
blocks_crimes_m.head()

                                    tract_bloc school_year  statefp10  \
tract_bloc school_year
101001000  SY0506      2006-01-31  101001000.0      SY0506        NaN
                       2006-02-28  101001000.0      SY0506        NaN
                       2006-03-31  101001000.0      SY0506        NaN
                       2006-04-30  101001000.0      SY0506        NaN
                       2006-05-31  101001000.0      SY0506       17.0

                                   countyfp10  tractce10       geoid10  \
tract_bloc school_year
101001000  SY0506      2006-01-31         NaN        NaN           NaN
                       2006-02-28         NaN        NaN           NaN
                       2006-03-31         NaN        NaN           NaN
                       2006-04-30         NaN        NaN           NaN
                       2006-05-31        31.0    10100.0  1.703101e+14

                                   blockce10      name10 r_numbers  \
tract_bloc school_year
101001000  SY0506      2006-01-31        NaN         NaN       NaN
                       2006-02-28        NaN         NaN       NaN
                       2006-03-31        NaN         NaN       NaN
                       2006-04-30        NaN         NaN       NaN
                       2006-05-31     1000.0  Block 1000       NaN

                                   treated_backup       ...        \
tract_bloc school_year                                  ...
101001000  SY0506      2006-01-31             NaN       ...
                       2006-02-28             NaN       ...
                       2006-03-31             NaN       ...
                       2006-04-30             NaN       ...
                       2006-05-31             0.0       ...

                                  route_number  school_name treated  one_over  \
tract_bloc school_year
101001000  SY0506      2006-01-31          NaN          NaN     NaN       NaN
                       2006-02-28          NaN          NaN     NaN       NaN
                       2006-03-31          NaN          NaN     NaN       NaN
                       2006-04-30          NaN          NaN     NaN       NaN
                       2006-05-31          NaN          NaN     0.0       0.0

                                   two_over  three_over  info     index  \
tract_bloc school_year
101001000  SY0506      2006-01-31       NaN         NaN   NaN       NaN
                       2006-02-28       NaN         NaN   NaN       NaN
                       2006-03-31       NaN         NaN   NaN       NaN
                       2006-04-30       NaN         NaN   NaN       NaN
                       2006-05-31       0.0         0.0     -  102711.0

                                   violent_count  property_count
tract_bloc school_year
101001000  SY0506      2006-01-31            0.0             0.0
                       2006-02-28            0.0             0.0
                       2006-03-31            0.0             0.0
                       2006-04-30            0.0             0.0
                       2006-05-31            0.0             1.0

[5 rows x 21 columns]

In [71]:
assert (blocks_crimes_m.groupby('tract_bloc').size() == blocks_crimes_m.groupby('tract_bloc').size().mean()).all()

/Users/sbinder/miniconda3/envs/speval/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'tract_bloc' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [72]:
blocks_crimes_m = blocks_crimes_m.reset_index(level=[0, 1], drop=True)

In [73]:
blocks_crimes_m = blocks_crimes_m.reset_index()

In [74]:
blocks_crimes_m = blocks_crimes_m.rename({'level_0': 'Date'}, axis='columns')

In [75]:
blocks_crimes_m.head()

,Date,tract_bloc,school_year,statefp10,countyfp10,tractce10,geoid10,blockce10,name10,r_numbers,...,route_number,school_name,treated,one_over,two_over,three_over,info,index,violent_count,property_count
0,2006-01-31,101001000.0,SY0506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,2006-02-28,101001000.0,SY0506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,2006-03-31,101001000.0,SY0506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,2006-04-30,101001000.0,SY0506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
4,2006-05-31,101001000.0,SY0506,17.0,31.0,10100.0,1.703101e+14,1000.0,Block 1000,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,-,102711.0,0.0,1.0

In [76]:
assert blocks['tract_bloc'].isin(blocks_crimes_m['tract_bloc']).all()

In [77]:
assert not blocks_crimes_m['violent_count'].isnull().any()
assert not blocks_crimes_m['property_count'].isnull().any()

## Fix block information

In [78]:
blocks.head()

,tract_bloc,school_year,statefp10,countyfp10,tractce10,geoid10,blockce10,name10,r_numbers,treated_backup,geometry,route_number,school_name,treated,one_over,two_over,three_over,info
0,101001000,SY0506,17,31,10100,170310101001000,1000,Block 1000,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,0.0,0,0,0,-
1,101001001,SY0506,17,31,10100,170310101001001,1001,Block 1001,NaN,0,POLYGON ((-87.66753999955125 42.02223700032794...,NaN,NaN,0.0,0,0,0,-
2,101001002,SY0506,17,31,10100,170310101001002,1002,Block 1002,NaN,0,POLYGON ((-87.67008600039445 42.02226200030603...,NaN,NaN,0.0,0,0,0,-
3,101001003,SY0506,17,31,10100,170310101001003,1003,Block 1003,NaN,0,"POLYGON ((-87.67009499920478 42.0211490002601,...",NaN,NaN,0.0,0,0,0,-
4,101002000,SY0506,17,31,10100,170310101002000,2000,Block 2000,NaN,0,POLYGON ((-87.67188399967968 42.02298600014132...,NaN,NaN,0.0,0,0,0,-

In [79]:
blocks_crimes_m = pd.merge(
    blocks_crimes_m[['tract_bloc', 'school_year', 'Date', 'violent_count', 'property_count']],
    blocks,
    how='left',
    on=['tract_bloc', 'school_year'],
    validate='m:1')
blocks_crimes_m.head()

,tract_bloc,school_year,Date,violent_count,property_count,statefp10,countyfp10,tractce10,geoid10,blockce10,...,r_numbers,treated_backup,geometry,route_number,school_name,treated,one_over,two_over,three_over,info
0,101001000.0,SY0506,2006-01-31,0.0,0.0,17,31,10100,170310101001000,1000,...,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,0.0,0,0,0,-
1,101001000.0,SY0506,2006-02-28,0.0,0.0,17,31,10100,170310101001000,1000,...,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,0.0,0,0,0,-
2,101001000.0,SY0506,2006-03-31,0.0,0.0,17,31,10100,170310101001000,1000,...,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,0.0,0,0,0,-
3,101001000.0,SY0506,2006-04-30,0.0,0.0,17,31,10100,170310101001000,1000,...,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,0.0,0,0,0,-
4,101001000.0,SY0506,2006-05-31,0.0,1.0,17,31,10100,170310101001000,1000,...,NaN,0,POLYGON ((-87.66635499979151 42.02252199950325...,NaN,NaN,0.0,0,0,0,-

In [80]:
blocks_crimes_m.isnull().sum()

tract_bloc              0
school_year             0
Date                    0
violent_count           0
property_count          0
statefp10               0
countyfp10              0
tractce10               0
geoid10                 0
blockce10               0
name10                  0
r_numbers         4644042
treated_backup          0
geometry                0
route_number      4644042
school_name       4644042
treated                 0
one_over                0
two_over                0
three_over              0
info                    0
dtype: int64

# Save monthly crime rates

In [81]:
blocks_crimes_m = blocks_crimes_m[[
    'tract_bloc', 'school_year', 'Date', 'violent_count', 'property_count',
    'route_number', 'school_name', 'treated', 'one_over', 'two_over',
    'three_over', 'info'
]]

blocks_crimes_m = blocks_crimes_m.sort_values(['tract_bloc', 'Date']).reset_index(drop=True)

## All census blocks

In [82]:
with (data_path / 'processed/blocks_crimes_m.pkl').open('wb') as f:
    pickle.dump(blocks_crimes_m, f)

## Only blocks which are in at least one year treated or one, two, or three cells over

In [83]:
est_df = (blocks_crimes_m.groupby('tract_bloc')
          .filter(lambda x: (x[['treated', 'one_over', 'two_over', 'three_over']] == 1).any().any()))

est_df = est_df.sort_values(['tract_bloc', 'Date']).reset_index(drop=True)

Time fixed effect string

In [99]:
est_df['time_fe'] = est_df['Date'].dt.year.astype('str') + est_df['Date'].dt.month.astype('str').str.pad(2, 'left', '0')

/Users/sbinder/miniconda3/envs/speval/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [100]:
with (data_path / 'processed/est_df.pkl').open('wb') as f:
    pickle.dump(est_df, f)

# Create data for figure 3

In [5]:
# Sorting in the end is probably not necessary but just to be sure
blocks_fig_3 = est_df.groupby(['tract_bloc', 'school_year']).agg({
    'violent_count':
    'sum',
    'property_count':
    'sum',
    'treated':
    'max',
    'one_over':
    'max',
    'two_over':
    'max',
    'three_over':
    'max',
    'info':
    'max'
}).sort_values(['tract_bloc', 'school_year']).reset_index()

In [6]:
def get_running_var(pos, total_length):
    """Get running variable with given position of zero
    
    Parameters
    ----------
    pos : int
        Position of zero in list (zero-indexed).
        
    total_length : int
        Length of list. Has to be bigger than pos.
        
    Returns
    -------
    list
        List containing running variable
    """
    assert pos >= 0
    assert pos < total_length
    run_var = list(range(-pos, -pos + total_length))
    assert 0 in run_var
    return run_var


def add_running_var(group, treated_col='treated_foia', run_var_col='run_var'):
    if 1 in group[treated_col].values:
        start = (group[treated_col] == 1).values.argmax()
        group[run_var_col] = get_running_var(start, group.shape[0])
    else:
        group[run_var_col] = np.nan
    return group


# Note that this ignores switiching blocks for now
# (e.g. when a block switches from two_over to one_over)

# Dataframe is already sorted by tract_bloc and Date
print('Treated')
blocks_fig_3 = blocks_fig_3.groupby('tract_bloc').apply(
    add_running_var, treated_col='treated', run_var_col='run_var_treated')
print('One over')
blocks_fig_3 = blocks_fig_3.groupby('tract_bloc').apply(
    add_running_var, treated_col='one_over', run_var_col='run_var_one')
print('Two over')
blocks_fig_3 = blocks_fig_3.groupby('tract_bloc').apply(
    add_running_var, treated_col='two_over', run_var_col='run_var_two')
print('Three over')
blocks_fig_3 = blocks_fig_3.groupby('tract_bloc').apply(
    add_running_var, treated_col='three_over', run_var_col='run_var_three')

Treated
One over
Two over
Three over

Assumption: For figure, drop all blocks which switch status.

In [7]:
blocks_fig_3 = blocks_fig_3.groupby(
    'tract_bloc').filter(
    lambda x: (x[['run_var_treated', 'run_var_one', 'run_var_two', 'run_var_three']].isnull(
    ).sum(axis=1) == 3).all())

In [8]:
blocks_fig_3['run_var'] = blocks_fig_3[[
    'run_var_treated', 'run_var_one', 'run_var_two', 'run_var_three'
]].sum(
    axis=1, skipna=True)
blocks_fig_3.head()

,tract_bloc,school_year,violent_count,property_count,treated,one_over,two_over,three_over,info,run_var_treated,run_var_one,run_var_two,run_var_three,run_var
0,208011000.0,SY0506,0.0,1.0,0.0,0,0,0,-,NaN,NaN,NaN,-8.0,-8.0
1,208011000.0,SY0607,0.0,0.0,0.0,0,0,0,-,NaN,NaN,NaN,-7.0,-7.0
2,208011000.0,SY0708,0.0,1.0,0.0,0,0,0,-,NaN,NaN,NaN,-6.0,-6.0
3,208011000.0,SY0809,0.0,0.0,0.0,0,0,0,-,NaN,NaN,NaN,-5.0,-5.0
4,208011000.0,SY0910,0.0,0.0,0.0,0,0,0,-,NaN,NaN,NaN,-4.0,-4.0

Create a block status

In [9]:
blocks_fig_3['block_status'] = blocks_fig_3[[
    'run_var_treated', 'run_var_one', 'run_var_two', 'run_var_three'
]].notnull().values.argmax(axis=1)
blocks_fig_3.head()

,tract_bloc,school_year,violent_count,property_count,treated,one_over,two_over,three_over,info,run_var_treated,run_var_one,run_var_two,run_var_three,run_var,block_status
0,208011000.0,SY0506,0.0,1.0,0.0,0,0,0,-,NaN,NaN,NaN,-8.0,-8.0,3
1,208011000.0,SY0607,0.0,0.0,0.0,0,0,0,-,NaN,NaN,NaN,-7.0,-7.0,3
2,208011000.0,SY0708,0.0,1.0,0.0,0,0,0,-,NaN,NaN,NaN,-6.0,-6.0,3
3,208011000.0,SY0809,0.0,0.0,0.0,0,0,0,-,NaN,NaN,NaN,-5.0,-5.0,3
4,208011000.0,SY0910,0.0,0.0,0.0,0,0,0,-,NaN,NaN,NaN,-4.0,-4.0,3

In [10]:
blocks_fig_3['block_status'] = blocks_fig_3['block_status'].map({0: 'Treated',
                                                          1: 'One over',
                                                          2: 'Two over',
                                                          3: 'Three over'})
blocks_fig_3['block_status'].value_counts()

Three over    44220
Two over      40832
One over      37763
Treated       24024
Name: block_status, dtype: int64

In [11]:
format(blocks_fig_3.shape[0], ',')

'146,839'

Drop where run_var out of scope. Only 5 years prior and 3 years after needed for replication

In [12]:
blocks_fig_3 = blocks_fig_3[(blocks_fig_3['run_var'] >= -5) & (blocks_fig_3['run_var'] <= 3)]

## Save

In [13]:
with (data_path / 'processed/blocks_fig_3.pkl').open('wb') as f:
    pickle.dump(blocks_fig_3, f)

# Prepare shorter estimation dataset
It is not clear to me from the paper, if they also imposed the restriction of 5 pre school years and 3 after school years on estimation set for regression. I will therefore run analysis on both versions. In the following the reduced data set with the restriction imposed will be prepared.

In [95]:
est_df['tb_sy'] = est_df['tract_bloc'].astype('str') + est_df['school_year']
blocks_fig_3['tb_sy'] = blocks_fig_3['tract_bloc'].astype('str') + blocks_fig_3['school_year']
est_df_reduced = est_df[est_df['tb_sy'].isin(blocks_fig_3['tb_sy'])]

In [96]:
format(est_df_reduced.shape[0], ',')

'1,020,808'

## Save

Time fixed effect dummy

In [101]:
est_df_reduced['time_fe'] = est_df_reduced['Date'].dt.year.astype('str') + est_df_reduced['Date'].dt.month.astype('str').str.pad(2, 'left', '0')

/Users/sbinder/miniconda3/envs/speval/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
with (data_path / 'processed/est_df_reduced.pkl').open('wb') as f:
    pickle.dump(est_df_reduced, f)

# Save estimation data sets (could be used in R)

In [105]:
est_df.reset_index(drop=True).to_feather(data_path / 'processed/est_df.feather')
est_df_reduced.reset_index(drop=True).to_feather(data_path / 'processed/est_df_reduced.feather')